body {
    font-family: Arial;
}

.header, .main, .footer__content {
    width: 1070px;
    box-sizing: border-box;
    margin: 0 auto;
}

.header {
    height: 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__text{
    font-family: Inconsolata;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
}

.header__menu {
    width: 55%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu__item {
    text-transform: uppercase;
    color: #626262;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
}

.main__banner {
    margin-bottom: 90px;
}

.banner-img {
    background-color: #f2f2f2;
}

.main__content {
    font-size: 0;
}

.content__center, .content__sidebar-right {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.content__center {
    width: 775px;
    font-size: 14px;
    padding: 0 50px 155px 80px;
}

.content__subtitle{
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #b4ad9e;
}

.post{
    color: #626262;
}

h1.post__title {
    margin: 0;
}

.post__title{
    font-size: 30px;
    font-weight: normal;
}

.post__photo {
    background-color: #b4ad9e;
}

.post__text{
    margin: 30px 0 80px 0;
    line-height: 1.8;
}

.content__sidebar-right{
    width: 275px;
    color: #626262;
    margin-left: 10px;
}

.personal-info{
    margin-bottom: 28px;
}

.personal-info__photo {
    background-color: #b4ad9e;
    margin-left: 3px;
}
.personal-info__title{
    font-size: 24px;
    font-weight: normal;
    margin: 24px 0 12px 0;
}

.personal-info__text {
    font-size: 12px;
    line-height: 1.6;
}

.top-posts{
    margin-bottom: 25px;
}

h2.top-posts__title {
    margin: 0;
}

.top-posts__title{
    color: #b9b2a5;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 30px;
}

.posts-list{
    color: #b9b2a5;
    font-size: 16px;
    padding: 0 15px;
}

.posts-list__item {
    margin-bottom: 25px;
    padding-left: 14px;
}

.post-item__title {
    margin-bottom: 12px;
}

.post-item__title-link{
    color: #626262;
    font-size: 16px;
}

.post-item__comments {
    text-transform: uppercase;
    font-size: 12px;
    color: #b9b2a5;
}

.footer {
    height: 95px;
    line-height: 95px;
    background-color: #f0f0f0;
}

.footer__links{
    padding-left: 80px;
}

.f-links__item{
    display: inline-block;
    font-size: 14px;
    margin-right: 20px;
    color: black;
}